<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfz.app">

    <application>

        <!-- app1 src release start -->

        <meta-data
            android:name="app1-src-release"
            android:value="app1-src-release" />

        <!-- app1 src release end -->

    </application>

</manifest>