<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfz.app">

    <application>

        <!-- app1 debug start -->
        <meta-data
            android:name="app1-debug"
            android:value="app1-app1-debug" />
        <!-- app1 debug end -->

    </application>

</manifest>