<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfz.app">

    <application>

        <!-- app2 flavor1 start -->

        <meta-data
            android:name="app2-flavor1"
            android:value="app2-flavor1" />

        <!-- app2 flavor1 end -->

    </application>

</manifest>