<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfz.app">

    <application>

        <!-- app1 flavor1 start -->
        <activity android:name=".app1.Flavor1App1Activity" />

        <meta-data
            android:name="app1-flavor1"
            android:value="app1-flavor1" />

        <!-- app1 flavor1 end -->

    </application>

</manifest>