<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfz.app">

    <application>

        <!-- app1 flavor2 start -->
        <activity android:name=".app1.Flavor2App1Activity" />

        <meta-data
            android:name="app1-flavor2"
            android:value="app1-flavor2" />

        <!-- app1 flavor2 end -->

    </application>

</manifest>