<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfz.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- app2 main start -->

        <activity android:name=".app2.App2Activity" />

        <meta-data
            android:name="app2-main"
            android:value="app2-main" />

        <!-- app2 main end -->

    </application>

</manifest>